# Ignore everything
*

# Dont ignore .gitignore itself
!.gitignore

# Allow .config
!.config/

# Allow README
!README.md

# Standlone config files
!.config/mimeapps.list
!/.bashrc


# Config directories
!.config/fontconfig/
!.config/fontconfig/**

!.config/hypr/
!.config/hypr/**

!.config/kitty/
!.config/kitty/**

!.config/waybar/
!.config/waybar/**

!.config/waypaper/
!.config/waypaper/**